/* AllFixed.module.scss */
.connection__adaptivity,
.connection__one,
.connection__two {
  height: 64px;
  position: fixed;
  z-index: 1;
  right: 46px;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.connection__two {
  bottom: 28px;
}

.connection__one {
  bottom: 105px;
}

.connection__adaptivity {
  display: none;
}

.hidden {
  opacity: 0;
}

@media (max-width: 576px) {
  .connection__adaptivity,
  .connection__two {
    right: 18px;
    bottom: 20px;
  }

  .connection__one {
    display: none;
  }

  .connection__adaptivity {
    display: block;
    bottom: 95px;
  }

  .connection__adaptivity2 {
    bottom: 150px;
  }
}
