.card_container {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
}

.card_first_block,
.card_second_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.customText {
  padding: 14px 0 10px !important;
}


.card_footer {
  padding-top: 59px;
}


.card_footer_2 {
  padding-top: 20px;
}

.card_footer_4 {
  padding-top: 20px;
}


.card_footer_5 {
  padding-top: 33px;
}


.card_footer_6 {
  padding-top: 34px;
}


.card_img {
  padding-top: 2rem;
}


.traffic {
  display: none;
}

@media (max-width: 576px) {
  .card_container {
    flex-direction: column;
    display: none;
  }


  .text_styles {
    padding-top: 183px;
    padding-top: 183px;
  }

  .traffic {
    display: block;
  }
}