.tariffs {
    padding-left: 48px;
}

.cardWrap {
    display: none;
}

.card__filled {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 24px;
    margin-top: 32px;
    margin-bottom: -22px;
}

.cardBtn {
    margin-top: 102px;
}

@media (max-width: 576px) {
    .tariffs {
        width: 100%;
        padding: 0 20px;
    }

}